// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin serif-font {
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin script-font {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, cursive;
}
@mixin body-font {
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin heading-font {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin bad-script-font {
  font-family: 'Bad Script', cursive;
  font-size: 30px !important;
  font-weight: 700;
}




@mixin bad-font {
  font-family: 'Bad Script', cursive;
}
@mixin megrim-font {
font-family: 'Megrim', cursive;
  font-weight: 700;
}
@mixin nova-font {
font-family: 'Nova Slim', cursive;
}

