    <!-- Footer -->
    <footer class="footer mt-auto py-1 bg-dark opacity-50 text-center">
        <div class="container">
            <span class="text-white text-center">Copyright &copy;. A program of World Uniting International 2022. All Rights Reserved.</span>
        </div>
    </footer>
</main>

    <script src="./js/all.js"></script>

    <script>
    window.fbAsyncInit = function() {
    FB.init({
        appId      : '2020039758088719',
        cookie     : true,
        xfbml      : true,
        version    : 'v3.1'
    });

    FB.AppEvents.logPageView();

    };

    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

</body>
</html>